@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    src: url(../assets/fonts/TitilliumWeb-Regular.ttf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  @font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    src: url(../assets/fonts/TitilliumWeb-SemiBold.ttf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  
  @font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    src: url(../assets/fonts/TitilliumWeb-Bold.ttf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

body {
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: rgb(18, 18, 43);
    background: url(../assets/images/background6.jpg) center;
}

.board {
    position: relative;
    margin: 30px auto;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 16px rgba(142, 194, 222, 1);
}

.up-letters, .bottom-letters {
    height: 30px;
    display: flex;
    justify-content: center;
}

.up-letters div, .bottom-letters div {
    display: flex;
}

.up-letters div div, .bottom-letters div div {
    width: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 174, 255);
    font-weight: bold;
    font-family: 'Titillium Web';
    font-size: 16px;
}

.table-wrapp {
    margin: 0px auto;
    display: flex;
    justify-content: center;
}

#chessboard {
    width: 580px;
    height: 579px;
}

#chessboard tr {
    display: flex;
}

#chessboard td {
    width: 70px;
    height: 70px;
}

#chessboard div {
    cursor: pointer;
}

.numbers {
    width: 34px;
}

.numbers td {
    height: 69px;
    text-align: center;
    color: rgb(0, 174, 255);
    font-weight: bold;
    font-family: 'Titillium Web';
    font-size: 19px;
}

.figure {
  font-size: 50px;
  text-align: center;
  width: 100%;
  height: 100%;
}

.turn {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.background {
    box-shadow: inset 0px 0px 20px 0px rgb(8, 4, 54);
}

.extra-white-figures {
    position: absolute;
    left: -13%;
    display: none;
    flex-direction: column;
}

.extra-black-figures {
    position: absolute;
    left: -13%;
    display: none;
    flex-direction: column;
}

.extra-white-figures button, .extra-black-figures button {
    width: 70px;
    height: 70px;
    font-size: 50px;
}

.choose {
    color: rgb(0, 174, 255);
    font-weight: bold;
    font-family: 'Titillium Web';
    font-size: 16px;
    text-align: center;
}