#chessboard {
    width: 580px;
    height: 580px;
    margin: 30px auto;
    border: 1px solid black;
}

tbody tr {
    display: flex;;
}

tbody td {
    width: 70px;
    height: 70px;
}

tbody td:nth-child(odd) {
    background: #526e52;
}
tbody td:nth-child(even) {
    background: #dddddd;
}

.figure {
  font-size: 50px;
  text-align: center;
  width: 100%;
  height: 100%;
}

.turn {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}