@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    src: url(../assets/fonts/TitilliumWeb-Regular.ttf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  @font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    src: url(../assets/fonts/TitilliumWeb-SemiBold.ttf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  
  @font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    src: url(../assets/fonts/TitilliumWeb-Bold.ttf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

body {
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: rgb(18, 18, 43);
    background: url(../assets/images/background6.jpg) center;
}

.board-wrapp {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board {
    position: relative;
    margin: 30px auto;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 16px rgba(142, 194, 222, 1);
}

.up-letters, .bottom-letters {
    height: 30px;
    display: flex;
    justify-content: center;
}

.up-letters div, .bottom-letters div {
    display: flex;
}

.up-letters div div, .bottom-letters div div {
    width: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 174, 255);
    font-weight: bold;
    font-family: 'Titillium Web';
    font-size: 16px;
}

.table-wrapp {
    margin: 0px auto;
    display: flex;
    justify-content: center;
}

#chessboard {
    width: 580px;
    height: 579px;
}

#chessboard tr {
    display: flex;
}

#chessboard td {
    width: 70px;
    height: 70px;
}

#chessboard div {
    cursor: pointer;
}

.numbers {
    width: 34px;
}

.numbers td {
    height: 69px;
    text-align: center;
    color: rgb(0, 174, 255);
    font-weight: bold;
    font-family: 'Titillium Web';
    font-size: 19px;
}

.figure {
  font-size: 50px;
  text-align: center;
  width: 100%;
  height: 100%;
}

.turn {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.background {
    box-shadow: inset 0px 0px 20px 0px rgb(8, 4, 54);
}

.extra-white-figures {
    position: absolute;
    left: -13%;
    display: flex;
    flex-direction: column;
}

.extra-black-figures {
    position: absolute;
    left: -13%;
    display: none;
    flex-direction: column;
}

.extra-white-figures button, .extra-black-figures button {
    width: 70px;
    height: 70px;
    font-size: 50px;
}

.choose {
    color: rgb(0, 174, 255);
    font-weight: bold;
    font-family: 'Titillium Web';
    font-size: 16px;
    text-align: center;
}

@media (max-width: 850px) {
    .extra-white-figures, .extra-black-figures {
        flex-direction: row;
        left: 0;
        opacity: 0.8;
    }

    .extra-white-figures button, .extra-black-figures button {
        width: 60px;
        height: 60px;
        font-size: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
    }

    .choose {
        display: flex;
        align-items: center;
        padding: 5px;
        background-color: black;
        margin: 0;
    }
}

@media (max-width: 700px) {
    .extra-white-figures button, .extra-black-figures button {
        width: 50px;
        height: 50px;
        font-size: 31px;
    }

    .up-letters div div, .bottom-letters div div {
        width: 62px;
    }
    
    #chessboard {
        width: auto;
        height: auto;
    }

    .numbers td {
        height: 59px;
    }

    .numbers {
        width: 32px;
    }

    #chessboard td {
        width: 60px;
        height: 60px;
    }

    .figure {
        font-size: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .up-letters div div, .bottom-letters div div {
        width: 52px;
    }

    #chessboard td {
        width: 50px;
        height: 50px;
    }
    
    .numbers td {
        height: 49px;
    }

    .numbers {
        width: 32px;
    }

    .figure {
        font-size: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 505px) {
    #chessboard {
        border: 10px solid black;
    }

    #chessboard td {
        width: 40px;
        height: 40px;
    }

    .up-letters, .bottom-letters {
        display: none;
    }

    .numbers {
        display: none;
    }

    .figure {
        font-size: 35px;
    }
}

@media (max-width: 400px) {
    .extra-white-figures button, .extra-black-figures button {
        width: 40px;
        height: 40px;
        font-size: 24px;
    }

    #chessboard td {
        width: 33px;
        height: 33px;
    }

    .figure {
        font-size: 30px;
    }
}

@media (max-width: 305px) {
    .extra-white-figures, .extra-black-figures {
        left: 4%;

    }

    .extra-white-figures button, .extra-black-figures button {
        width: 36px;
        height: 36px;
        font-size: 24px;
    }

    .choose {
        padding: 5px 6px;
    }

    #chessboard td {
        width: 25px;
        height: 25px;
    }

    .figure {
        font-size: 24px;
    }
}