body {
    width: 100%;
    display: flex;
    justify-items: center; 
    background: url(../assets/images/background.jpg);
}

.board {
    margin: 50px auto;
    background-color: rgb(0, 0, 0);
}

.up-letters, .bottom-letters {
    height: 30px;
    display: flex;
    justify-content: center;
}

.up-letters div, .bottom-letters div {
    display: flex;
}

.up-letters div div, .bottom-letters div div {
    width: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 174, 255);
    font-weight: bold;
}

.table-wrapp {
    margin: 0px auto;
    display: flex;
    justify-content: center;
}

#chessboard {
    width: 580px;
    height: 579px;
}

#chessboard tr {
    display: flex;
}

#chessboard td {
    width: 70px;
    height: 70px;
}

.numbers {
    width: 34px;
}

.numbers td {
    height: 69px;
    text-align: center;
    color: rgb(0, 174, 255);
    font-weight: bold;
}

.figure {
  font-size: 50px;
  text-align: center;
  width: 100%;
  height: 100%;
}

.turn {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}